<div class="container">
    <div class="row mt-2">
        <div class="col-sm-12 text-center">
            <div class="alert alert-success" role="alert">
                <h2>Sơ đồ ERR cơ sở dữ liệu&nbsp;<span class="badge badge-success">MYSQL</span></h2>
            </div>
        </div>
        <div class="col-sm-12">
            <iframe width="100%" height="500px" src='https://dbdiagram.io/embed/63c405ad296d97641d79bf5f'> </iframe>
        </div>
    </div>
</div>
{{> js}}