<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>OK</h1>
			</div>
			<h2>Vào hộp thư của bạn để kiểm tra nhé</h2>
			<p><a href="/user/me">Return to profile</a></p>
			{{!-- <div class="notfound-social">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-pinterest"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
			</div> --}}
		</div>
</div>
{{> js}}