<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>405</h1>
			</div>
			<h2>Oops! METHOD NOT ALLOWED</h2>
			<p><a href="/">Return to homepage</a></p>
			{{!-- <div class="notfound-social">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-pinterest"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
			</div> --}}
		</div>
</div>
{{> js}}