
<div class="row mt-4">
     <div class="col-md-offset-1 col-md-12">
         <div class="row">
            <div class="col-xl-6 col-md-12">
            <div class="card overflow-hidden">
                <div class="card-content">
                <div class="card-body cleartfix">
                    <div class="media align-items-stretch">
                    <div class="align-self-center">
                        <i class="icon-pencil primary font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                        <h4>Doanh thu</h4>
                        <span>Doanh thu hàng tháng</span>
                    </div>
                    <div class="align-self-center">
                        <h1>18,000</h1>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>

            <div class="col-xl-6 col-md-12">
            <div class="card">
                <div class="card-content">
                <div class="card-body cleartfix">
                    <div class="media align-items-stretch">
                    <div class="align-self-center">
                        <i class="fas fa-leaf"></i>
                    </div>
                    <div class="media-body">
                        <h4>Tổng</h4>
                        <span>Số lượng farmstay đã thuê</span>
                    </div>
                    <div class="align-self-center"> 
                        <h1>84,695</h1>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

     </div>
    <div class="col-md-offset-1 col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10 col-xs-10">
                        <a href="/farmstay/create" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus-circle"></i> Add New</a>
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        <form class="form-horizontal pull-right">
                            <div class="form-group">
                                <label>Show : </label>
                                <select class="form-control">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                </select>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="panel-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>#</th>
                            <th>Tên</th>
                            <th>Người quản lý</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul class="action-list">
                                    <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a></li>
                                    <li><a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                                </ul>
                            </td>
                            <td>1</td>
                            <td>Vincent Williamson</td>
                            <td>31</td>
                            <td><a href="#" class="btn btn-sm btn-success"><i class="fas fa-check-circle"></i></a></td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="action-list">
                                    <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a></li>
                                    <li><a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                                </ul>
                            </td>
                            <td>2</td>
                            <td>Taylor Reyes</td>
                            <td>22</td>
                            <td><a href="#" class="btn btn-sm btn-success"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="action-list">
                                    <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a></li>
                                    <li><a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                                </ul>
                            </td>
                            <td>3</td>
                            <td>Justin Block</td>
                            <td>26</td>
                            <td><a href="#" class="btn btn-sm btn-warning"><i class="fas fa-times-circle"></i></a></td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="action-list">
                                    <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a></li>
                                    <li><a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                                </ul>
                            </td>
                            <td>4</td>
                            <td>Sean Guzman</td>
                            <td>26</td>
                            <td><a href="#" class="btn btn-sm btn-success"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="action-list">
                                    <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a></li>
                                    <li><a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                                </ul>
                            </td>
                            <td>5</td>
                            <td>Keith Carter</td>
                            <td>24</td>
                            <td><a href="#" class="btn btn-sm btn-success"><i class="fa fa-search"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8 col-xs-8">showing <b>5</b> out of <b>25</b> entries</div>
                    <div class="col-sm-4 col-xs-4">
                        <ul class="pagination hidden-xs pull-right pag">
                            <li><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                        {{!-- <ul class="pagination visible-xs pull-right">
                            <li><a href="#">«</a></li>
                            <li><a href="#">»</a></li>
                        </ul> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> js}}
